<h1>Place your order</h1>

<form action = "/orders" method = "post">
  <label for = "first_name">First name:</label>
  <input type = "text" name = "first_name"></input>

  <label for = "last_name">Last name:</label>
  <input type = "text" name = "last_name"></input>

  <label for = "quantity">How many pairs:</label>
  <input type = "number" name = "quantity"></input>

  <label for = "size">Select your size:</label>
  <select name = "size">
    <option value = "7">7</option>
    <option value = "8">8</option>
    <option value = "9">9</option>
    <option value = "10">10</option>
    <option value = "11">11</option>
  </select>

  <input type = "submit" value = "Order Shoes"</input>

  </form>